/**************Navbar************************************/
.logo{
  width: 4rem;
  height: 3rem;
}
/*****************ManyLinks*********************/
nav a.nav-link{
  font-weight: 600;
  letter-spacing: 0.045rem;
  cursor: pointer;
  color: white;
  font-size: 1rem;

}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li>a{
  margin-right: 3rem;
 
} 
.navbar-nav{
  margin-left: 45rem;
}
.collapse{

}
.radio{
  text-align: center;
}
